:root {
    --fuente: 'Ubuntu', sans-serif;;
    --primario: #0F103F;
    --secundario: #1C1C65;
    --extra: #2F2F8A;
    --accent: #C961DE;
    --divider: #2954A3;
    --blanco: #ffffff;
    --negro: #000000;
}

html {
    box-sizing: border-box;
    /* Ya se puede utilizar medidas en rem */
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: var(--primario);
    font-family: var(--fuente);
    font-size: 1.6rem;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Globales */
.contenedor {
    width: min(90%, 120rem);
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: var(--blanco);
}

h1,
h2,
h3,
h4 {
    font-family: var(--fuenteHeading);
    line-height: 1.2;
    color: var(--blanco);
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.8rem;
}

img {
    max-width: 100%;
}

/* .boton {
    display: block;
    font-family: var(--fuenteHeading);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    border: none;
}

@media (min-width: 768px) {
    .boton {
        display: inline-block;
    }
}

.boton:hover {
    cursor: pointer;
}

.boton--primario {
    background-color: var(--negro);
}

.boton--secundario {
    background-color: var(--primario);
} */


/* Utilities */


/* Header */
.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header--title {
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 130%;
    margin: 2rem 0 2rem 0;
}

/* .header--title__svg {
    /* Por definir */

/* } */

.header--nav {
    display: flex;
    margin: 3rem;
    justify-content: space-evenly;
    width: 40%;
}

.header--nav__link {
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 143.2%;
    margin: 0.4rem;
    text-shadow: none;
    transition: text-shadow 500ms ease;
}

.header--nav__link:hover {
    text-shadow: 0rem 0rem 2rem #ffffff;
}

/* Hero */
.hero {
    width:  100vw;
    /* position: absolute; */
    display: flex;
    justify-content: space-between;
    height: auto;
}

/* @media (min-width: 768px) {
    .hero {
        width: 60%;
    }
}

@media (min-width: 1024px) {
    .hero {
        width: 25%;
    }
} */

.hero-container {
    width: 40%;
    position: relative;
    left: 20rem;
    top: 8rem;
}

.hero--title {
    font-size: 6rem;
    font-weight: bold;
    line-height: 130%;
    /* width: 40%; */
}

.hero--images {
    width: 116rem;
    background-image: url(../img/Ilustration_bottom.svg);
    background-position: 20rem -20rem;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80.8rem;
}

.button {
    border: none;
    border-radius: 3rem;
    font-weight: 500;
    font-size: 1.7rem;
    line-height: 143.2%;
    height: 5rem;
    text-align: center;
    padding: 1.1rem 0;
    width: 20rem;
}

.button:hover {
    cursor: pointer;
    /* animation: btnHov 5s ease-in-out; */
}

/* @keyframes btnHov {
    0% {
        box-shadow: 0px 0px 0px .8rem rgba(255, 255, 255, 0.2);
    }
    100% {
        box-shadow: 0px 0px 2px .8rem rgba(255, 255, 255, 0.2);
    }
} */

.hero--buttons {
    display: flex;
    justify-content: space-between;
    margin: 6rem auto;
    width: 60%;
}

.hero--buttons__hire {
    background: rgba(255, 255, 255, 0.4);
    box-shadow: none;
    transition: background 200ms ease;
    transition: box-shadow 300ms ease;
}

.hero--buttons__hire:hover {
    /* Animation */
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 20px #ffffff;
}

.hero--buttons__about {
    background: linear-gradient(107.21deg, #C961DE 24.43%, #2954A3 68.95%);
    box-shadow: none;
    transition: box-shadow 300ms ease;
}

.hero--buttons__about:hover {
    box-shadow: 0px 0px 20px #2954A3;
}


/* .trail { /* className for the trail elements /
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: linear-gradient(107.21deg, #C961DE 24.43%, #2954A3 68.95%);
} */

/* About us */
.about {
    background-image: url(../img/bolota_con_circulo_final_xd.svg);
    height: 120.3rem;
    width: 120.3rem;
    margin: -20rem auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about--info {
    margin-top: -40rem;
    margin-left: 5rem;
}

.about--info__link {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 3rem;
    padding: 1.5rem 4rem;
    box-shadow: none;

    transition: background 200ms ease;
    transition: box-shadow 500ms ease;
}

.about--info__link:hover {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 20px #ffffff;
}