:root {
    --fuente: 'Ubuntu', sans-serif;;
    --primario: #0F103F;
    --secundario: #1C1C65;
    --extra: #2F2F8A;
    --accent: #C961DE;
    --divider: #2954A3;
    --blanco: #ffffff;
    --negro: #000000;
}

html {
    box-sizing: border-box;
    /* Ya se puede utilizar medidas en rem */
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: var(--primario);
    color: var(--blanco);
    font-family: var(--fuente);
    font-size: 1.6rem;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.app {
    background-image: url(../img/fondo.png);
    height: 100%;
    width: 100%;
    background-repeat: repeat;
    background-size: auto;
}

/* Globales */
.contenedor {
    width: min(90%, 120rem);
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: var(--blanco);
}

h1,
h2,
h3,
h4,
p {
    line-height: 1.2;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.8rem;
}

img {
    max-width: 100%;
}

/* .boton {
    display: block;
    font-family: var(--fuenteHeading);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    border: none;
}

@media (min-width: 768px) {
    .boton {
        display: inline-block;
    }
}

.boton:hover {
    cursor: pointer;
}

.boton--primario {
    background-color: var(--negro);
}

.boton--secundario {
    background-color: var(--primario);
} */


/* Utilities */


/* Header */
.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header--title {
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 130%;
    margin: 2rem 0 2rem 0;
}

/* .header--title__svg {
    /* Por definir */

/* } */

.header--nav {
    display: flex;
    margin: 3rem;
    justify-content: space-evenly;
    width: 40%;
}

.header--nav__link {
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 143.2%;
    margin: 0.4rem;
    text-shadow: none;
    transition: text-shadow 500ms ease;
}

.header--nav__link:hover {
    text-shadow: 0rem 0rem 2rem #ffffff;
}

/* Hero */
.hero {
    width:  100vw;
    /* position: absolute; */
    display: flex;
    justify-content: space-between;
    height: auto;
}

/* @media (min-width: 768px) {
    .hero {
        width: 60%;
    }
}

@media (min-width: 1024px) {
    .hero {
        width: 25%;
    }
} */

.hero-container {
    width: 40%;
    position: relative;
    left: 20rem;
    top: 8rem;
}

.hero--title {
    font-size: 6rem;
    font-weight: bold;
    line-height: 130%;
    /* width: 40%; */
}

.hero--images {
    width: 116rem;
    background-image: url(../img/Ilustration_bottom.svg);
    background-position: 20rem -20rem;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80.8rem;
}

.button {
    border: none;
    border-radius: 3rem;
    font-weight: 500;
    font-size: 1.7rem;
    line-height: 143.2%;
    height: 5rem;
    text-align: center;
    padding: 1.1rem 0;
    width: 20rem;
}

.button:hover {
    cursor: pointer;
    /* animation: btnHov 5s ease-in-out; */
}

/* @keyframes btnHov {
    0% {
        box-shadow: 0px 0px 0px .8rem rgba(255, 255, 255, 0.2);
    }
    100% {
        box-shadow: 0px 0px 2px .8rem rgba(255, 255, 255, 0.2);
    }
} */

.hero--buttons {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    width: 100%;
}

.hero--buttons .button {
    width: 40%;
}

.hero--buttons__hire {
    background: rgba(255, 255, 255, 0.4);
    box-shadow: none;
    transition: background 200ms ease;
    transition: box-shadow 300ms ease;
}

.hero--buttons__hire:hover {
    /* Animation */
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 20px #ffffff;
}

.hero--buttons__about {
    background: linear-gradient(107.21deg, #C961DE 24.43%, #2954A3 68.95%);
    box-shadow: none;

    transition: box-shadow 300ms ease;
}

.hero--buttons__about:hover {
    box-shadow: 0px 0px 20px #2954A3;
}


/* .trail { /* className for the trail elements /
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: linear-gradient(107.21deg, #C961DE 24.43%, #2954A3 68.95%);
} */

/* About us */
.about {
    background-image: url(../img/bolota_con_circulo_final_xd.svg);
    height: 120.3rem;
    width: 120.3rem;
    margin: -20rem auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about--info {
    margin-top: -20%;
    margin-left: 5rem;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about--info__text {
    max-width: 50%;
    margin: 2rem auto 5rem;
}

.about--info__link {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 3rem;
    padding: 1.5rem 4rem;
    box-shadow: none;
    width: 15rem;

    transition: background 200ms ease;
    transition: box-shadow 500ms ease;
}

.about--info__link:hover {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 20px #ffffff;
}

.contact {
    width: 100%;
    height: auto;
    margin-bottom: -20rem;
}

.contact-image {
    background-image: url(../img/footer.svg);
    width: 100%;
    height: 130rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-container {
    margin: 0 auto;
    /* Media QUERY */
    width: 70%;
    padding: 5rem;
    display: flex;
    justify-content: space-evenly;
    background: rgba(47, 47, 138, 0.355);
    border-radius: 3rem;
}

.contact-texts {
    width: 35%;
}

.contact-texts p {
    display: flex;
    align-items: center;
    margin-top: 4rem;
}

.contact-texts p span {
    margin-right: 1rem;
}

/* Formulario */
.campo {
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
}

.campo-label {
    flex: 0 0 10rem;
    font-weight: 700;
}

.campo-input {
    flex: 1;
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.205);
    color: var(--blanco);
}

.campo-input::placeholder {
    color: var(--blanco);
}

.contact-button {
    background: linear-gradient(105.95deg, #C961DE 24.79%, #2954A3 71.87%);
    box-shadow: 0px 10px 20px rgba(7, 7, 26, 0.15);
    border-radius: 10px;
    border: none;
    text-align: center;
    padding: 1rem 1.5rem;
    color: var(--blanco);
    margin-left: 25rem;

    transition: box-shadow 300ms ease;
}

.contact-button:hover {
    box-shadow: 0px 0px 20px #2954A3;
    cursor: pointer;
}

.footer {
    width: 100%;
    margin-top: 50rem;
    background: rgba(28, 28, 101, 0.531);
}

.footer--image {
    position: relative;
    top: -20rem;
}

.footer--info {
    width: 100%;
    margin: -30rem auto 0 auto;
    height: 10rem;
    text-align: center;
}

.footer--info__nav {
    margin: 0 auto 7rem auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}

.footer--nav__link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: none;
    transition: text-shadow 500ms ease;
}

.footer--nav__link:hover {
    text-shadow: -1rem 0rem 4rem #ffffff;
}

.footer--nav__link span {
    margin-right: .5rem;
}


.footer--info__media {
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
}

.separator {
    display: block;
    width: 150rem;
    height: .5rem;
    margin: 10rem auto 0;

    background: rgba(255, 255, 255, 0.15);
}

.footer--info__firm {
    height: 10rem;
    text-align: end;
    margin-right: 10rem;
    font-size: 5rem;
    font-weight: 500;
    line-height: 143.2%;
    user-select: none;

    color: rgba(255, 255, 255, 0.7);
}

.media {
    border: none;
    border-radius: 50%;
}

.media--insta:hover {
    box-shadow: 0px 0px 20px #c13584;
}

.media--twt:hover {
    box-shadow: 0px 0px 20px #1DA1F2;
}

.media--fb:hover {
    box-shadow: 0px 0px 20px #3B5998;
}

.media--tktk:hover {
    box-shadow: 0px 0px 20px #1A121F;
}



/* Página servicios */
.servicios--hero {
    text-align: center;
}

@media (max-width: 1024px) {

    .header {
        padding: 0 1rem;
    }

    .hero-container {
        width: 60%;
        position: relative;
        left: 13rem;
        top: 6rem;
        height: auto;
    }

    .button {
        border: none;
        border-radius: 3rem;
        font-weight: 500;
        font-size: 1.7rem;
        line-height: 143.2%;
        height: 5rem;
        text-align: center;
        padding: 1.1rem 0;
        width: 20rem;
    }

    .hero--buttons {
        justify-content: space-evenly;
        width: 100%;
        gap: 2rem;
    }

    .hero--buttons .button {
        width: 45%;
    }

    .hero--title {
        font-size: 4rem;
    }

    .hero--images {
        background-position:-10rem -25rem;
    }


    .about {
        height: 120.4rem;
        width: 120.4rem;
        margin: -30rem auto 0 -13rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .contact-container {
        width: 75%;
    }

    .footer--info {
        width: 100%;
    }

    .footer--info__nav {
        margin: 0 auto 5rem auto;
        width: 80%;
    }

    .footer--info__media {
        width: 40%;
    }


    .footer--info__firm {
        font-size: 300;
        margin-right: 3rem;
    }

    .separator {
        width: 95rem;
    }
}