:root {
    --fuente: 'Ubuntu', sans-serif;
    --primario: #0F103F;
    --secundario: #1C1C65;
    --extra: #2F2F8A;
    --accent: #C961DE;
    --divider: #2954A3;
    --blanco: #ffffff;
    --negro: #000000;
}

html {
    box-sizing: border-box;
    /* Ya se puede utilizar medidas en rem */
    font-size: 62.5%;
}

* {
    text-decoration: none;
    list-style: none;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: var(--primario);
    color: var(--blanco);
    font-family: var(--fuente);
    font-size: 1.6rem;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    overflow-x: scroll;
}

.app {
    background-image: url(../img/fondo.png);
    height: 100%;
    width: 100%;
    background-repeat: repeat;
    background-size: auto;
}

/* Globales */
.contenedor {
    width: min(90%, 120rem);
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: var(--blanco);
}

h1,
h2,
h3,
h4,
p {
    line-height: 1.2;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.8rem;
}

img {
    max-width: 100%;
}


/* Utilities */


/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header--title {
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 130%;
    margin: 2rem 0 2rem 0;
}

.header--nav {
    height: 10rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    margin: 0 0 0 2rem;
}

.bar-btn {
    font-size: 2.5rem;
    color: #ffffff;
    margin-right: 2rem;
    cursor: pointer;
}

.nav-menu {
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 10rem;
    left: 0rem;
    background: var(--extra);
    text-align: center;
    transition: all .5s;
}

.nav-menu li {
    display: none;
    line-height: 5rem;
    margin: 5rem 0;
    transition: all .5s;
}

#check {
    display: none;
}

#check:checked ~ .nav-menu {
    height: 100vh;
}

#check:checked ~ .nav-menu li {
    display: block;
}

.header--nav__link {
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 143.2%;
    margin: 0.4rem;
    text-shadow: none;
    transition: text-shadow 500ms ease;
}

.header--nav__link:hover {
    text-shadow: 0rem 0rem 2rem #ffffff;
}

/* Hero */
.hero {
    width:  100vw;
    /* position: absolute; */
    display: flex;
    justify-content: space-between;
    height: auto;
}

.hero-container {
    width: 40%;
    position: relative;
    left: 20rem;
    top: 8rem;
}

.hero--title {
    font-size: 6rem;
    font-weight: bold;
    line-height: 130%;
    /* width: 40%; */
}

.hero--images {
    width: 116rem;
    background-image: url(../img/Ilustration_bottom.svg);
    background-position: 20rem -20rem;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80.8rem;
}

.button {
    border: none;
    border-radius: 3rem;
    font-weight: 500;
    font-size: 1.7rem;
    line-height: 143.2%;
    height: 5rem;
    text-align: center;
    padding: 1.1rem 0;
    width: 20rem;
}

.button:hover {
    cursor: pointer;
    /* animation: btnHov 5s ease-in-out; */
}

.hero--buttons {
    display: flex;
    justify-content: space-between;
}

.hero--buttons .button {
    width: auto;
    padding: 1.1rem 2rem;
    white-space: nowrap;
}

.hero--buttons__hire {
    background: rgba(255, 255, 255, 0.4);
    box-shadow: none;
    transition: background 200ms ease;
    transition: box-shadow 300ms ease;
    margin-right: 4rem;
}

.hero--buttons__hire:hover {
    /* Animation */
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 20px #ffffff;
}

.hero--buttons__about {
    background: linear-gradient(107.21deg, #C961DE 24.43%, #2954A3 68.95%);
    box-shadow: none;

    transition: box-shadow 300ms ease;
}

.hero--buttons__about:hover {
    box-shadow: 0px 0px 20px #2954A3;
}


/* .trail { /* className for the trail elements /
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: linear-gradient(107.21deg, #C961DE 24.43%, #2954A3 68.95%);
} */

/* About us */
.about {
    background-image: url(../img/bolota_con_circulo_final_xd.svg);
    height: 120.3rem;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: -20rem auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about--info {
    height: 123rem;
    width: 123rem;
    margin-top: -10%;
    margin-left: 5rem;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about--info__text {
    max-width: 50%;
    margin: 6rem auto 5rem;
}

.about--info__link {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 3rem;
    padding: 1.5rem 4rem;
    box-shadow: none;
    width: 15rem;

    transition: background 200ms ease;
    transition: box-shadow 500ms ease;
}

.about--info__link:hover {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 20px #ffffff;
}

.contact {
    width: 100%;
    height: auto;
    margin-bottom: -20rem;
}

.contact-image {
    background-image: url(../img/footer.svg);
    width: 100%;
    height: 130rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-container {
    margin: 0 auto;
    /* Media QUERY */
    width: 70%;
    padding: 5rem;
    display: flex;
    justify-content: space-evenly;
    background: rgba(47, 47, 138, 0.355);
    border-radius: 3rem;
}

.contact-texts {
    width: 35%;
}

.contact-texts p {
    display: flex;
    align-items: center;
    margin-top: 4rem;
}

.contact-texts p span {
    margin-right: 1rem;
}

/* Formulario */
.campo {
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
}

.campo-label {
    flex: 0 0 10rem;
    font-weight: 700;
}

.campo-input {
    flex: 1;
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.205);
    color: var(--blanco);
}

.campo-input::placeholder {
    color: var(--blanco);
}

.contact-button {
    background: linear-gradient(105.95deg, #C961DE 24.79%, #2954A3 71.87%);
    box-shadow: 0px 10px 20px rgba(7, 7, 26, 0.15);
    font-weight: bold;
    border-radius: 10px;
    border: none;
    text-align: center;
    padding: 1rem 1.5rem;
    color: var(--blanco);
    margin-left: 25rem;

    transition: box-shadow 300ms ease;
}

.contact-button:hover {
    box-shadow: 0px 0px 20px #2954A3;
    cursor: pointer;
}

.footer {
    width: 100%;
    margin-top: 50rem;
    background: rgba(28, 28, 101, 0.531);
}

.footer--image {
    position: relative;
    top: -20rem;
}

.footer--info {
    width: 100%;
    margin: -30rem auto 0 auto;
    height: 10rem;
    text-align: center;
}

.footer--info__nav {
    margin: 0 auto 7rem auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}

.footer--nav__link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: none;
    transition: text-shadow 500ms ease;
}

.footer--nav__link:hover {
    text-shadow: -1rem 0rem 4rem #ffffff;
}

.footer--nav__link span {
    margin-right: .5rem;
}


.footer--info__media {
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
}

.separator {
    display: block;
    width: 150rem;
    height: .5rem;
    margin: 10rem auto 0;

    background: rgba(255, 255, 255, 0.15);
}

.footer--info__firm {
    height: 10rem;
    text-align: end;
    margin-right: 10rem;
    font-size: 5rem;
    font-weight: 500;
    line-height: 143.2%;
    user-select: none;

    color: rgba(255, 255, 255, 0.7);
}

.media {
    border: none;
    border-radius: 50%;
}

.media--insta:hover {
    box-shadow: 0px 0px 20px #c13584;
}

.media--twt:hover {
    box-shadow: 0px 0px 20px #1DA1F2;
}

.media--fb:hover {
    box-shadow: 0px 0px 20px #3B5998;
}

.media--tktk:hover {
    box-shadow: 0px 0px 20px #1A121F;
}



/* Página servicios */
.servicios--hero {
    text-align: center;
}

.slider {
    margin-top: -15rem;
    background-image: url(../img/doble_circulo_galeria.svg);
    width: 100%;
    height: 144rem;
    background-repeat: no-repeat;
    background-size: cover;

    padding-top: 18rem;
}

.slider--title {
    text-align: center;
    margin: 0;
}

@keyframes heartbeat {
    0% {
      transform: scale(0);
    }
    25% {
      transform: scale(1.2);
    }
    50% {
      transform: scale(1);
    }
    75% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
}
.slider-container {
position: relative;
margin: 0 auto;
width: 800px;
height: 600px;
}
.slider-container .bullet-container {
position: absolute;
bottom: -50px;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
}
.slider-container .bullet-container .bullet {
margin-right: 14px;
height: 20px;
width: 20px;
border-radius: 50%;
background-color: white;
opacity: 0.5;
}
.slider-container .bullet-container .bullet:last-child {
margin-right: 0px;
}
.slider-container .bullet-container .bullet.active {
opacity: 1;
}
.slider-container .slider-content {
position: relative;
left: 50%;
top: 50%;
width: 70%;
height: 60%;
transform: translate(-50%, -50%);
}
.slider-container .slider-content .slider-single {
position: absolute;
z-index: 0;
left: 0;
top: 0;
width: 100%;
height: 100%;
transition: z-index 0ms 250ms;
}
.slider-container .slider-content .slider-single .slider-single-image {
position: relative;
left: 0;
top: 0;
width: 100%;
height: 100%;
box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
transform: scale(0);
opacity: 0;
}
.slider-container .slider-content .slider-single .slider-single-download {
position: absolute;
display: block;
right: -22px;
bottom: 12px;
padding: 15px;
color: #333333;
background-color: #fdc84b;
font-size: 18px;
font-weight: 600;
font-family: "karla";
border-radius: 5px;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
opacity: 0;
}
.slider-container .slider-content .slider-single .slider-single-download:hover, .slider-container .slider-content .slider-single .slider-single-download:focus {
outline: none;
text-decoration: none;
}
.slider-container .slider-content .slider-single .slider-single-title {
display: block;
float: left;
margin: 16px 0 0 20px;
font-size: 2.2rem;
font-weight: 400;
color: #ffffff;
transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
opacity: 0;
}
.slider-container .slider-content .slider-single .slider-single-likes {
display: block;
float: right;
margin: 16px 20px 0 0;
transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
opacity: 0;
}
.slider-container .slider-content .slider-single .slider-single-likes i {
font-size: 20px;
display: inline-block;
vertical-align: middle;
margin-right: 5px;
color: #ff6060;
transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
transform: scale(0);
}
.slider-container .slider-content .slider-single .slider-single-likes p {
display: inline-block;
vertical-align: middle;
margin: 0;
color: #ffffff;
}
.slider-container .slider-content .slider-single .slider-single-likes:hover, .slider-container .slider-content .slider-single .slider-single-likes:focus {
outline: none;
text-decoration: none;
}
.slider-container .slider-content .slider-single.preactivede .slider-single-image {
transform: translateX(-50%) scale(0);
}
.slider-container .slider-content .slider-single.preactive {
z-index: 1;
}
.slider-container .slider-content .slider-single.preactive .slider-single-image {
opacity: 0.3;
transform: translateX(-25%) scale(0.8);
border-radius: 1.5rem;

}
.slider-container .slider-content .slider-single.preactive .slider-single-download {
transform: translateX(-150px);
}
.slider-container .slider-content .slider-single.preactive .slider-single-title {
transform: translateX(-150px);
}
.slider-container .slider-content .slider-single.preactive .slider-single-likes {
transform: translateX(-150px);
}
.slider-container .slider-content .slider-single.proactive {
z-index: 1;
}
.slider-container .slider-content .slider-single.proactive .slider-single-image {
opacity: 0.3;
transform: translateX(25%) scale(0.8);
border-radius: 1.5rem;
}
.slider-container .slider-content .slider-single.proactive .slider-single-download {
transform: translateX(150px);
}
.slider-container .slider-content .slider-single.proactive .slider-single-title {
transform: translateX(150px);
}
.slider-container .slider-content .slider-single.proactive .slider-single-likes {
transform: translateX(150px);
}
.slider-container .slider-content .slider-single.proactivede .slider-single-image {
transform: translateX(50%) scale(0);
}
.slider-container .slider-content .slider-single.active {
z-index: 2;
}
.slider-container .slider-content .slider-single.active .slider-single-image {
opacity: 1;
transform: translateX(0%) scale(1);
border-radius: 1.5rem 1.5rem 0 0;
}
.slider-container .slider-content .slider-single.active .slider-single-download {
opacity: 1;
transition-delay: 100ms;
transform: translateX(0px);
}
.slider-container .slider-content .slider-single.active .slider-single-title {
opacity: 1;
transition-delay: 200ms;
transform: translateX(0px);
}
.slider-container .slider-content .slider-single.active .slider-single-likes {
opacity: 1;
transition-delay: 300ms;
transform: translateX(0px);
}
.slider-container .slider-content .slider-single.active .slider-single-likes i {
animation-name: heartbeat;
animation-duration: 500ms;
animation-delay: 900ms;
/* animation-iteration: 1; */
animation-fill-mode: forwards;
}
.slider-container .slider-left {
position: absolute;
z-index: 3;
display: block;
right: 85%;
top: 60%;
color: #ffffff;
transform: translateY(-50%);
padding: 15px 15px;
border: 2px solid #1DA1F2;
border-radius: 10px;
margin-right: -2px;
}
.slider-container .slider-right {
position: absolute;
z-index: 3;
display: block;
left: 85%;
top: 60%;
color: #ffffff;
transform: translateY(-50%);
padding: 15px 15px;
border: 2px solid #1DA1F2;
border-radius: 10px;
margin-left: -2px;
}
.slider-container .not-visible {
display: none !important;
}
.arrow {
width: 15px;
height: 15px;
margin: auto;
}

.slider-container .slider-content .slider-single .slider--description {
margin-top: -1rem;
height: 6rem;
background: rgba(0, 0, 0, 0.3);
border-radius: 0px 0px 30px 30px;
transition: 500ms ease-in-out;
opacity: 0;
}

.slider-container .slider-content .slider-single.preactive .slider--description {
transform: translateX(-150px);
}

.slider-container .slider-content .slider-single.proactive .slider--description {
transform: translateX(150px);
}

.slider-container .slider-content .slider-single.active .slider--description {
opacity: 1;
transition-delay: 200ms;
transform: translateX(0px);
}

@media (min-width: 3072px) {

    .about--info {
        height: 90rem;
        width: 110rem;
        margin-top: -15rem;
    }

    .about--info__text {
        font-size: 2.3rem;
        margin: 3rem 0 6rem 0;
        padding: 0;
    }

    .slider {
        height: 307rem;
    }

    .slider-container {
        height: 100rem;
        width: 80rem;
        margin-top: 40rem;
        margin-left: 127rem;
    }

    .slider--title {
        font-size: 9rem;
    }

    .slider-container .bullet-container {
        bottom: -150px;
    }

    .footer--image {
        top:-30rem;
        height: 60rem;
    }

    .separator {
        width: 290rem;
        margin-top: 15rem;
    }
}

@media (max-width: 1440px) {

    .header {
        margin: 0 3rem;
    }

    .about--info__text {
        font-size: 2.3rem;
        margin: 3rem 0 9rem 0;
        padding: 0;
    }

    .slider {
        height: 144rem;
    }

    .slider-container {
        height: 40rem;
        width: 60rem;
        margin-top: 12rem;
        margin-left: 45rem;
    }

    .slider--title {
        font-size: 4rem;
    }

    .slider-container .bullet-container {
        bottom: -100px;
    }

    .footer--info__media {
        width: 45%;
    }

    .separator {
        width: 120rem;
        margin-top: 15rem;
    }
}

@media (max-width: 1280px) {

    .header {
        margin: 0 2.6rem;
    }

    .about--info {
        height: 90rem;
        width: 120rem;
        margin-top: -15rem;
    }

    .about--info__text {
        font-size: 2.2rem;
        margin: 3rem 0 8rem 0;
        padding: 0;
    }

    .slider {
        height: 128rem;
    }

    .slider-container {
        height: 35rem;
        width: 55rem;
        margin-top: 10rem;
        margin-left: 40rem;
    }

    .slider--title {
        font-size: 3.5rem;
    }

    .slider-container .bullet-container {
        bottom: -100px;
    }

    .footer--info__media {
        width: 50%;
    }

    .separator {
        width: 100rem;
    }
}

@media (max-width: 1024px) {

    .header {
        padding: 0 1rem;

        margin-left: 2rem;
    }

    .header--title {
        margin: 2rem 0 2rem 6rem;
    }

    .hero-container {
        width: 60%;
        position: relative;
        left: 13rem;
        top: 6rem;
        height: auto;
    }

    .hero--buttons .button {
        width: 90%;
    }

    .hero--title {
        font-size: 4rem;
    }

    .hero--images {
        background-position:-10rem -25rem;
    }


    .about {
        height: 120.4rem;
        margin: -30rem auto 0 -13rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .about--info {
        height: 90rem;
        margin-top: -20rem;
    }

    .about--info__text {
        font-size: 2.3rem;
        margin: 3rem 0 9rem 0;
        padding: 0;
    }

    .contact-container {
        width: 75%;
    }

    .footer--info {
        width: 100%;
    }

    .footer--info__nav {
        margin: 0 auto 5rem auto;
        width: 80%;
    }

    .footer--info__media {
        width: 40%;
    }


    .footer--info__firm {
        font-size: 300;
        margin-right: 3rem;
    }

    .separator {
        width: 95rem;
    }


    .slider {
        background-position: -15rem -3rem;
    }

    .slider-container {
        height: 35rem;
        width: 55rem;
        margin-top: 6rem;
        margin-left: 25rem;
    }

    .slider--title {
        font-size: 3.3rem;
    }

    .footer--image {
        top: -15rem;
        height: 30rem;
    }

    .footer--info__nav {
        margin: 13rem auto 5rem auto;
    }

    .footer--info__media {
        width: 50%;
    }
}

@media (max-width: 768px) {

    .header {
        margin-left: 1.4rem;
    }

    .header--title {
        font-size: 3rem;
        line-height: 120%;
    }

    .header--nav__link {
        margin: 1rem;
    }

    .hero-container {
        width: 50%;
        position: relative;
        left: 9rem;
        top: 4rem;
    }

    .hero--title {
        font-size: 3.2rem;
    }

    .about {
        height: 100rem;
        margin: -15rem auto 10rem -3rem;
    }

    .about--info {
        height: 90rem;
        width: 140rem;
        margin-top: -20rem;
    }

    .about--info__text {
        margin: 3rem 0 3rem 0;
        padding: 0;
    }

    .contact-container {
        width: 95%;
    }

    .slider {
        height: 80rem;
        background-position: 0 4rem;
    }

    .slider-container {
        height: 20rem;
        width: 40rem;
        margin-top: 3rem;
        margin-left: 22rem;
    }

    .slider--title {
        font-size: 2rem;
    }

    .slider-container .slider-content .slider-single.active .slider-single-title {
        font-size: 1.7rem;
    }

    .slider-container .bullet-container {
        bottom: -10rem;
    }

    .separator {
        width: 66rem;
    }

    .footer--image {
        top: -10rem;
        height: 25rem;
    }

    .footer--info__nav {
        margin: 15rem auto 5rem auto;
    }

    .footer--info__media {
        width: 50%;
    }

}

@media (min-width: 768px) {
    .header--nav {
        height: 10rem;
        margin: 0;
    }

    .header--nav div {
        display: flex;
    }

    .header--title {
        margin: 0 2rem;
    }

    .bar-btn {
        display: none;
    }

    .nav-menu {
        position: relative;
        height: 10rem;
        top: 0;
        background: none;
        transition: none;
        margin: 0;
    }

    .nav-menu li {
        display: inline-block;
        line-height: 10rem;
        margin: 0 1rem;
    }
}

@media (max-width: 425px) {

    .header {
        margin-left: -2rem;
    }

    .header--title {
        margin: 2rem 0 2rem 3rem;
    }

    .hero-container {
        width: 30%;
        left: 5rem;
        top: 0rem;
    }

    .hero--title {
        font-size: 3rem;
    }

    .hero--images {
        height: 50rem;
        background-position: -5rem -15rem;
    }

    .hero--buttons .button {
        width: auto;
        font-size: 1.2rem;
        height: 3rem;
        padding: .5rem 2rem;
    }

    .about {
        background-image: url(../img/bolacel.svg);
        height: 60rem;
        background-size: cover;
        background-position: -8rem 0rem;
    }

    .about--info__titulo {
        font-size: 2rem;
    }

    .about--info {
        height: 30rem;
        width: 50rem;
        font-size: 1rem;
        margin-top: -7rem;
        margin-left: -13.7rem;
    }

    .about--info__text {
        margin: 0;
        padding: 0;
        margin-bottom: 3rem;
        font-size: 1.2rem;
    }

    .about--info__link {
        padding: .3rem 2rem;
        width: 10rem;
        height: 3rem;
    }

    .slider {
        background-position: -20rem -2rem;

    }

    .slider-container {
        height: 15rem;
        width: 35rem;
        margin-top: -2rem;
        margin-left: 2.5rem;
    }

    .slider--title {
        font-size: 2.3rem;
        margin-left: 2.8rem;
    }

    .slider-container .slider-content .slider-single.active .slider-single-title {
        font-size: 1.2rem;
        margin-top: 2.5rem;
    }

    .slider-container .bullet-container {
        bottom: -11rem;
        height: 1rem;
    }

    .slider-container .bullet-container .bullet {
        height: 1rem;
        width: 1rem;
    }

    .contact-container {
        width: 90%;
    }

    .contact-image {
        background-position: -60rem -30rem;
    }

    .contact-container {
        display: block;
        padding: 1rem 5rem 3rem 5rem;
    }

    .contact-texts {
        width: 100%;
        text-align: center;
    }

    /* Formulario */
    .campo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: left;
    }

    .campo-label {
        flex: 0;
        align-self: flex-start;
    }

    .campo-input {
        width: 100%;
    }

    .contact-button {
        margin-left: 50%;
    }


    .footer {
        margin-top: 30rem;
        height: 65rem;
    }

    .footer--image {
        top: -10rem;
        height: 20rem;
    }

    .footer--info {
        width: 90%;
    }

    .footer--info__nav {
        margin: 15rem auto 5rem auto;
        display: flex;
        flex-direction: column;
    }

    .footer--nav__link {
        margin: 2rem;
        align-self: center;
    }

    .footer--info__media {
        width: 80%;
    }

    .footer--info__firm {
        font-size: 4rem;
    }

    .separator {
        width: 30rem;
        margin-top: 35rem;
    }

}